<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <time type="FastLocal" />
    <variable name="consoleMinLogLevel" value="${when:when='${gdc:item=consoleMinLogLevel}'!='':inner=${gdc:item=consoleMinLogLevel}:else=Info}"/>
    <variable name="logFileMinLogLevel" value="${when:when='${gdc:item=logFileMinLogLevel}'!='':inner=${gdc:item=logFileMinLogLevel}:else=Trace}"/>
    <variable name="directory" value="${when:when='${gdc:item=logDirectoryParent}'!='':inner=${gdc:item=logDirectoryParent}/:else=}Logs/"/>
    <variable name="fileName" value="${when:when='${gdc:item=logFileName}'!='':inner=${gdc:item=logFileName}:else=classicalShuffler}"/>
    <variable name="messageLayout" value="${message}${when:when='${ndlc}'!='':inner=; ${ndlc:separator=, }:else=}"/>
    <variable name="logOutputLayout" value="${longdate} ${level:padding=-5} ${pad:padding=-4:inner=[${threadid}]} ${logger:padding=-13} || ${messageLayout}" />
    <targets>
        <default-wrapper type="AsyncWrapper" overflowAction="Grow"/>
        <target name="LogFile" type="File" filename="${directory}${fileName}.log" layout="${logOutputLayout}"
                concurrentWrites="false" keepFileOpen="true" archiveAboveSize="268435456" archiveOldFileOnStartup="true" maxArchiveFiles="10" maxArchiveDays="14" />
        <target name="Console" type="ColoredConsole" layout="${logOutputLayout}" enableAnsiOutput="true" detectConsoleAvailable="true" />
    </targets>
    <rules>
        <logger name="*" minlevel="${logFileMinLogLevel}" writeTo="LogFile" />
        <logger name="*" minlevel="${consoleMinLogLevel}" writeTo="Console" />
    </rules>
</nlog>